<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <appSettings>
      <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="WebForms" />
    </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime requestValidationMode="4.5" targetFramework="4.5" encoderType="System.Web.Security.AntiXss.AntiXssEncoder, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <pages controlRenderingCompatibilityVersion="4.5" />
      <machineKey compatibilityMode="Framework45" />
    </system.web>

    <system.serviceModel>
        <extensions>
          <bindingElementExtensions>
            <add name="pollingDuplex"
                type="System.ServiceModel.Configuration.PollingDuplexElement,System.ServiceModel.PollingDuplex, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
          </bindingElementExtensions>
        </extensions>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
      <bindings>
        <customBinding>
          <binding name="pollingDuplexBinding">
            <binaryMessageEncoding />
            <pollingDuplex
                     maxPendingSessions="2147483647" maxPendingMessagesPerSession="2147483647"
                     maxOutputDelay="00:00:07" inactivityTimeout="02:00:00" serverPollTimeout="00:05:00"/>
            <httpTransport />
          </binding>
        </customBinding>
      </bindings>
      <services>
        <service name="WCFHost.PushService">

          <!-- Service Endpoints -->
          <endpoint
             address=""
             binding="customBinding"
             bindingConfiguration="pollingDuplexBinding"
             contract="WCFHost.PushService">
          </endpoint>
          <endpoint
              address="mex"
              binding="mexHttpBinding"
              contract="IMetadataExchange"/>
        </service>
      </services>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
    </system.serviceModel>
</configuration>
